.statistics {
  display: flex;
  margin: auto;
  width: 300px;
}

.statistics-item {
  text-align: center;
  flex: 1;
}

.statistics-item-title {
  margin-bottom: 10px;
}

.statistics-item-value {
  font-size: x-large;
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation:portrait) {
  .statistics {
    width: 100%;
  }

  .statistics-item-title {
    font-size: 4vw;
  }
  
  .statistics-item-value {
    font-size: 4vw;
  }
}
