body {
    text-align: center;
    font-family: sans-serif;
}

img {
  visibility: hidden;
}

.x-img {
  background-image: url("x.svg");
}

.o-img {
  background-image: url("o.svg");
}

/* The animation code */
@keyframes winning-cells {
  0%   { opacity:100%; }
  25%  { opacity: 20%; }
  50%  { opacity: 100%; }
  75%  { opacity: 20%; }
  100% { opacity: 100%; }
}

table {
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 1px solid gray;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 180px;
    height: 180px;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
}

input[type="checkbox"]:checked {
    background-image: url("x.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

input[type="checkbox"]:indeterminate {
    background: white;
}

input[type="checkbox"]:not(indeterminate) {
    background-image: url("o.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

tr:first-child td {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

tr td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}

button {
    margin: 30px 0;
    background: white;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: large;
}

.winning-cell {
    animation-name: winning-cells;
    animation-duration: 4s;
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation:portrait) {
  body {
    font-size: 4vw;
  }

  button {
    font-size: 4vw;
    margin: 50px;
    border-radius: 45px;
    padding: 15px 45px;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 1px solid gray;
    width: 33.33%;
    position: relative;
  }
  
  td:after {
    content: '';
    display: block;
    margin-top: 100%;
  }
  
  td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  input[type="checkbox"] {
    position: absolute;
    width: 97%;
    height: 97%;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation:landscape) {
  input[type="checkbox"] {
    width: 80px;
    height: 80px;
  }
}
